<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>あつい〜と | ダッシュボード</title>
    <script src="{{ url_for('static', filename='js/generator.js') }}" async></script>
</head>
<body ontouchstart="">
    <div class="main">
        <div class="header">
            <h1 class="title">あつい～と</h1>
        </div>
        <div class="wrapper">
            <input type="text" name="query" id="query" class="query" placeholder="例：橋本環奈">
            <input type="button" value="ワードを設定" id="action" class="set-word">
            <div>
                <p class="msg"></p>
            </div>
            <div class="contents">

            </div>
            <div style="margin: 30px 0;">
                <a href="{{ url_for('index') }}" id="delete" class="delete">アプリの利用を停止する</a>
            </div>
        </div>
    </div>
</body>
</html>
